:root {
  --background-color: #afddaf;
  --light-accent-color: #2b662b;
  --accent-color: #2b662b;
}

body {
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 1rem;
  max-width: 375px;
  font-family: Arial, Helvetica, sans-serif;
}

body > form { text-align: center; }
body > form > label { display: block; }
body > form input[type="submit"] {
  width: 100%;
  padding: 1rem;
  background: var(--accent-color);
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
}

input, button, select { font-family: monospace; }

.actions { position: absolute; left: 1em; bottom: 1em; }

.fragments { height: 90%; width: 90%; margin: 5%; }
.fragments g { display: none; }
.fragments g.selected { display: inherit; }
.fragments g.selected .trustee { fill: var(--light-accent-color); }