:root {
  --background-color: #afddaf;
  --light-accent-color: #2b662b;
  --accent-color: #2b662b;
}

body {
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 1rem;
  max-width: 375px;
  font-family: Arial, Helvetica, sans-serif;
}

body > form { text-align: center; }
body > form > label { display: block; }
body > form input[type="submit"] { width: 100%; }

body > nav { text-align: right; font-size: 0.8rem; }

input, button, select { font-family: monospace; }

.actions { display: none; position: absolute; left: 1em; bottom: 1em; }

.btn {
  background: var(--accent-color);
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}
.btn:disabled { opacity: 0.5; }

.fragments { height: 90%; width: 90%; margin: 5%; }
.fragments g { display: none; }
.fragments g.selected { display: inherit; }
.fragments g.selected .trustee { fill: var(--light-accent-color); }